* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  width: 420px;
  margin: 10px auto 20px;
}

.title-link {
  text-decoration: none;
  color: black;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.params-container {
  height: 80px;
  padding: 10px 10px 0 10px;
  margin: 0 0 20px 0;
}

.filter-price-form {
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 0;
}

.price-input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px black;
}

.filter-price-btn {
  border: none;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px black;
}
.filter-price-btn:hover {
  background: rgba(230, 228, 228, 0.43);
}

.item-list {
  margin: 0 auto 20px auto;
  padding: 0;
  width: 60%;
}
.sum-price-container {
  width: 35%;
  margin: 0 auto;
}

.message-container {
  width: 75%;
  margin: 0 auto;
}
